.myModal {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  background:rgba(0,0,0, 0.5);
}

.myModalContent {
  padding: 25px;
  border-radius: 14px;
  min-width: 300px;
  background: whitesmoke;
}

.myModal.active{
  display: flex;
  justify-content: center;
  align-items: center;
}